/**************************
GENERAL
**************************/
html { position: relative; min-height: 100%;}
body {font: 100%/1.4 'Muli', Arial,Verdana,sans-serif; padding-bottom: 0; color:#3d3d3d; font-size:20px;
   margin-bottom: 280px; /* Margin bottom to match footer height */
}

header {height:60px;}
main {overflow:hidden;}

p{font-size: 14px;}
b, strong {font-weight: 600;}
a, a:active, a:visited {text-decoration: none!important;}	
.blog-post {padding: 0px 0 0px 0;}
.blog-wide {margin:auto;}
.sidebar-module {padding: 20px;}
.blog-sidebar {padding:0!important;}
  
/**************************
GENERAL STYLES
**************************/
.container .blog-post a, a:active, a:visited{ text-decoration: none; color:#891637; border:none; border-radius: unset!important; /*text-transform: uppercase; */ font-size: 20px; font-weight: 400;}
.container .blog-post a:hover{ color: #000; text-decoration: none;}

.container .blog-post img { -ms-interpolation-mode: bicubic; border: none; }
.container .blog-post a img { border: none;}

.container .blog-post p, p {color:#3d3d3d; font-size: 20px; font-weight: 300; line-height: 150%;}
.container .blog-post h1 { color: #891637; font-weight: 400; font-size: 40px; line-height: 110%; padding-bottom: 10px;}
.container .blog-post h2 { color: #891637; font-weight: 700; font-size: 22px; line-height: 110%; padding: 0; text-transform:uppercase; }
.container .blog-post h3 { color: #891637; font-weight: 600; font-size: 20px; line-height: 110%; padding: 10px 0 10px 0; }
.container .blog-post h4 { color: #122f66; font-size:16px; line-height: 110%; padding: 15px 0px 8px 0px; font-weight: 700; text-transform:uppercase;}
.container .blog-post h5 { color: #122f66; font-weight: 700; font-size: 16px; line-height: 110%; padding: 15px 0 5px 0; }
.container .blog-post hr { border-top: 2px solid #891637;}

.container .blog-post ul { font-size:18px; line-height: 150%; 
	list-style-type: none;
	padding-left: 30px;
	margin: 10px 0 10px 10px;}

.container .blog-post ul li { color:#3d3d3d; padding-left: 16px; margin-bottom: 3px;font-size: 20px; list-style-type:disc;}

.container .blog-post blockquote {
    color: #122f66;
    font-size: 20px;
    font-weight: 700;
    padding: 0;	
	border-left:2px solid #122f66;
}

.container .blog-post blockquote p {
    color: #122f66;
    font-size: 20px;
	padding-left:20px;
    font-weight: 600;
}

.container .blog-post ol {padding-left: 20px;}
.container .blog-post ol li { padding-left: 5px;}

.information-source {border-top: 1px solid #8aa6b5; margin-top: 40px; font-size: 12px!important; color:#8aa6b5!important;}
.information-source p { font-size: 12px!important; color:#8aa6b5!important; padding-top:10px; margin-bottom:10px;}
.information-source ol {padding-left: 25px;}
.information-source a { font-size: 12px!important; color:rgba(47,103,178,0.80)!important; font-weight: 400!important;}
.information-source a:hover { color:#000!important;}

.disclaimer {}
.disclaimer p { font-size: 12px!important; color:#8aa6b5!important;}

.page-note p {font-size: 14px!important; color:#8aa6b5!important; font-weight: 600;}
.page-note a {font-size: 14px!important;}

.page-letter {
    max-width: 600px;
    border: 1px solid rgba(154,157,160,0.22);    
    -webkit-box-shadow: 10px 10px 5px 0px rgba(154,157,160,0.22);
    -moz-box-shadow: 10px 10px 5px 0px rgba(154,157,160,0.22);
    box-shadow: 10px 10px 5px 0px rgba(154,157,160,0.22);
	padding: 40px 20px;
	margin-bottom: 40px;	
}
.page-letter p {font-size:14px!important;}

.page-letter ul li {
    color: #000;
    padding-left: 16px;
    margin-bottom: 3px;
    font-size: 16px;
    list-style-type:disc!important;
	margin-left: 30px;
	font-size:14px!important;
}

.page-letter ul li::before {content: ""!important;}

.form-control {border-radius: 0!important;
    border: none;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-bottom: 1px solid #891637!important;
    background: none;
    color: #3d3d3d;
    font-size: 20px;
	margin-bottom: 10px;
}
.form-control:focus {box-shadow:none!important;}
.fv-plugins-bootstrap .fv-plugins-icon {display: none; visibility: hidden; height:0;}
.fv-plugins-bootstrap .fv-help-block {padding-left:5px;}
.fv-plugins-bootstrap .fv-help-block::before {
    content: "\f12a";
    font-family: 'Font Awesome\ 5 Free';    
    left: 0px;
    color: #dc3545;
    font-size: 14px;
    margin-top: -1px;
    display: inline-block;
    font-weight: 600;
    padding-right: 7px;
}
.form-control[type="checkbox"], .form-control[type="radio"] {width:auto; margin-top: 10px; margin-bottom: 20px; margin-left:8px; transform: scale(2); margin-right: 10px;}

.nav-events {top: 38px!important; left: 30px!important;}
#frmLogin {padding-top:30px;}

.btn-submit {border:1px solid #891637; padding: 20px 10px; display: inline-block;}
.btn-submit a {text-transform: uppercase!important; background: #fff; padding:20px 100px; color:#891637; font-size: 22px; font-weight: 300; border: none; width: auto;}
.btn-submit:hover {background: #891637; color:#fff;}
.btn-submit a:hover {background: #891637; color:#fff!important; }

/**************************
ACCORDION
**************************/
.ui-accordion .ui-accordion-header {display:inline; width:25%;}
.ui-accordion .ui-accordion-content {position: absolute; width:100%;}

/**************************
PAGE NOT FOUND
**************************/
.page-not-found .blog-sidebar {text-align: center;}
.page-not-found i {font-size:100px; padding-top:60px;}

/**************************
HEADER
**************************/
.header {position:fixed; background-color: #fff; height:90px; width:100%; z-index: 1030; top:0;}
.header .header-logo {padding: 8px 50px 0 50px; float:left; position: relative; z-index: 6000; }
.header .header-logo img {}
.header .header-buttons {position:fixed; top: 10px; right:20px;}
.header .header-buttons a {padding: 0 7px; color:#000;}
.header .header-buttons a i {font-size: 22px;}
.header .header-logo-old {font-size:12px; color:#3067b2; padding-top:0px; float:left; height: 100%;}
.header .header-logo-old span {position: relative; top: 30%; -webkit-transform: translateY(-30%); -ms-transform: translateY(-30%); transform: translateY(-30%);}

/**************************
HEADER - SEARCH
**************************/
.header .header-search {position:fixed; top: 50px; right:30px; display: none;}
.header-search-input input[type=textbox] {
    border: none;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-bottom: 1px solid #000;
	background: none;
    color: #000;	
	font-size: 15px;
	margin-right: 20px;
	width: 300px;
}

.header-search-input input::placeholder {color: #000; opacity: 1; font-size:15px; }
.header-search-input input[type="text"]::-ms-input-placeholder { color: #000; }

.btn-search {color:#fff!important; font-size: 16px; font-weight: 600; border: none; background-color: #1a305c; padding: 7px 20px;}
.btn-search:hover, .btn-search:active { background: rgba(26,48,92,0.7); color:#000!important;}

/**************************
SITE SEARCH
**************************/

.search-results hr{
    border-top: 1px solid #8aa6b5 !important;
}

.site-search-form .row .col-sm-8{
    padding-left: 0;
}

.site-search-form .btn-checkout{
    margin-top: 0 !important;
}

mark{
    background: #E3E4E8;
    color: black;
}

/**************************
NAVBAR
**************************/
.navbar-custom {position:fixed; top: 50px; left:0; width:100%; background-color: #fff!important; padding: .5rem 40px; z-index: 5000; 
	-webkit-box-shadow: 0 8px 6px -7px #C9C9C9;
    -moz-box-shadow: 0 8px 6px -7px #C9C9C9;
    box-shadow: 0 8px 6px -7px #C9C9C9;
    background-color: #e8ecf2;}
.navbar-custom .navbar-nav .nav-link {color:#3d3d3d; font-size:18px; font-weight: 600; padding-right: 20px; padding-left: 20px;}
.navbar-custom .navbar-nav .nav-link:hover {color:#891637!important;}
.navbar-nav .nav-link.active {color: #891637!important;}

.mr-auto, .mx-auto {
    margin-left: auto !important;
    margin-right: inherit !important;
}

.dropdown-item:focus, .dropdown-item:hover {
    color: #16181b;
    text-decoration: none;
    background-color: #f8f9fa;
}

.custom-toggler {border:none; }
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(47,103,178,1.00)' stroke-width='4' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");	
}

.hamburger {padding:5px 0 0 10px !important;}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {background-color:#891637!important; width: 30px!important;}
.hamburger:hover {opacity: 1!important;}

button:focus {outline: none;}

/**************************
NAVBAR - CONTACTS
**************************/ 
.navbar-contacts {padding: 0 10px;}
.navbar-contacts a {color: rgba(255,255,255,.5); text-decoration: none; padding:0 5px;}
.navbar-contacts a:hover {color: rgba(255,255,255,1);}

.contact-social {font-weight:600; border-top: 5px solid #000; padding: 10px 0;}
.contact-social a {padding: 0 10px;}
.contact-social a i {font-size: 22px; position: relative; top: 3px;}

/**************************
NAVBAR - SHOP
**************************/
.navbar-shop {padding: 0 10px;}
.navbar-shop a {color: #28a745; text-decoration: none; padding:0 5px;}
.navbar-shop a:hover {color: rgba(255,255,255,1);}

/**************************
NAVBAR - MEMBERS
**************************/
.navbar-members {padding: 0px; position: fixed; top: 124px; right: 0; z-index: 1000;}
.navbar-members a {color: #fff;  font-size:16px; font-weight: 600; text-decoration: none; text-transform: uppercase; padding:18px 25px; background-color: #891637;}
.navbar-members a:hover {color:#000; background: rgba(137,22,55,0.6);}

.btn-logout {padding-top:20px;}

/**************************
SLIDERS
**************************/
.inside-page {height:313px;}
.inside-page .carousel-item > img {/*height: 313px*/}
.inside-page .carousel-item {height: 313px!important;}

/**************************
HOME PAGE
**************************/
.home-intro {padding: 80px 0; text-align: left;}
.home-intro h1 {color:#891637; font-size:40px; font-weight: 400; padding-bottom: 20px;}
.home-intro p {color:#3d3d3d; font-size:20px; font-weight: 300; }
.home-intro img {width:100%;}

.btn-home-intro {padding-top: 30px;}
.btn-home-intro a {text-transform: uppercase!important; background: #fff; padding:20px 100px; color:#891637; font-size: 22px; font-weight: 300; border: none; width: 100%; border: 1px solid #891637;}
.btn-home-intro a:hover {background: #891637; color:#fff; }

.slide-img-resp {visibility: hidden; display: none; height:0;}

/**************************
HOME PAGE - BUTTONS
**************************/
.home-buttons {text-align: center; position: absolute; bottom:0; width:100%;}
.home-buttons-box {border-left: 1px solid #fff; border-right: 1px solid #fff; padding-left:0; padding-right:0; height:150px;}
.home-buttons-box h2 {color:#891637; font-size: 20px; font-weight: 400; padding:0 10px 10px 10px; text-align: center;}
.home-buttons-more {color:#fff; font-size:14px; display:none; height:0; visibility: hidden;padding-top: 20px; padding-left: 10%; padding-right: 10%;}
.home-buttons-box:hover h2 {color:#fff!important; font-weight: 600; font-size: 18px;}
.home-buttons-box a:hover > div {background-color: #891637; position: relative; top:-120px; height: 278px; padding: 10px 0; }
.home-buttons-box a:hover > div div {display:block; height:auto; visibility: visible;}
.home-buttons-box a:focus > div div, .home-buttons-box a:active > div div, .home-buttons-box a:visited > div div {font-weight: 500!important}

.home-buttons-box1 {background-color:#eaeaea; padding: 35px 0; height:150px; z-index: 100; }
.home-buttons-box2 {background-color:#eaeaea; padding: 35px 0;  height:150px;}
.home-buttons-box3 {background-color:#eaeaea; padding: 35px 0;  height:150px;}
.home-buttons-box4 {background-color:#eaeaea; padding: 35px 0; height:150px; }

.home-buttons-box a div > img:nth-child(2) {display: block; visibility: visible; height: auto; margin:auto}
.home-buttons-box a div > img:nth-child(3) {display:none; visibility: hidden; height: 0; margin:auto;}

.home-buttons-box a:hover div > img:nth-child(2) {display:none; visibility: hidden; height: 0;}
.home-buttons-box a:hover div > img:nth-child(3) {display: block; visibility: visible; height: auto;}

.home-buttons-resp {display:none; visibility: hidden; height: 0;}
.home-buttons-resp .home-buttons-box {margin-top:2px;}
.home-buttons-resp .home-buttons-box a:hover > div {position: inherit!important; height: 150px!important;}
.home-buttons-resp .home-buttons-box a:hover > div h2 {color:#fff!important;}
.home-buttons-resp .home-buttons-box a div .home-buttons-box-img {float:left; width:35%; padding-top: 17px;}
.home-buttons-resp .home-buttons-box a div h2 {float:right; width:65%; text-align: left; padding-top: 25px; font-size:25px;}

.home-buttons-resp .home-buttons-box a div .home-buttons-box-img > img:nth-child(1) {display: block; visibility: visible; height: auto; margin:auto}
.home-buttons-resp .home-buttons-box a div .home-buttons-box-img > img:nth-child(2) {display:none; visibility: hidden; height: 0; margin:auto;}

.home-buttons-resp .home-buttons-box a:hover div .home-buttons-box-img > img:nth-child(1) {display:none; visibility: hidden; height: 0;}
.home-buttons-resp .home-buttons-box a:hover div .home-buttons-box-img > img:nth-child(2) {display: block; visibility: visible; height: auto;}
.home-buttons-resp .home-buttons-box a:hover div .home-buttons-box-img {padding-top:12px!important;}

/**************************
HOME PAGE - NEWS PANEL
**************************/
.home-news {width: 100%; background: #3d3d3d; padding: 40px 7.5% 80px 7.5%; text-align: center;}
.home-news img {padding-bottom: 60px;}
.home-news h2 {color:#fff;font-size: 40px; font-weight: 400; text-align: center; padding-bottom: 20px;}
.home-news h3 {color:#fff;font-size: 20px; font-weight: 400;}
.home-news h4 {color:#fff;font-size: 24px; font-weight: 400;}
.home-news p {color:#fff; font-size: 20px; font-weight: 300; padding:15px;}
.btn-home-news {text-transform: uppercase!important; bottom: 50px; width: 100%; display: inline-block;
    background: #3d3d3d!important;
    padding: 20px 0;
    color: #fff!important;
    font-size: 22px;
    font-weight: 300;
    border: 1px solid #fff!important;	
}
.btn-home-news:hover {color:#3d3d3d!important; background:#fff!important;}

.home-news-item {} 
.home-news-item-box {width:30%; float:left; height:100%;}
.home-news-box {background-color:#1a305c; width:100%; height:100%; padding:10px; color:#fff; font-size:16px; font-weight: 600;}
.home-news-item-txt { }
.home-news-box-line {width:100%; text-align: center; position: relative; top: 50%; -ms-transform: translateY(-50%); transform: translateY(-50%);}

.home-newsletter-container {width:85%; margin:auto; text-align: center;  position: relative; top: 55%; -ms-transform: translateY(-55%); transform: translateY(-55%);}

.home-news-btn {position: absolute; bottom: 40px; width: 70%; left: 15%;} 

#newsCarousel .carousel-item {height:auto!important; min-height:270px;}

/**************************
HOME PAGE - NEWSLETER PANEL
**************************/
.home-newsletter {width: 100%; background-color:#891637; padding: 40px 7.5%; text-align: center;}
.home-newsletter img {padding-bottom: 60px;}
.home-newsletter h2 {color:#fff; font-weight: 400; font-size: 40px; padding-bottom: 20px;}
.home-newsletter input {width:100%;}
.home-newsletter .btn-submit {padding:8px 20px; width:auto;}

.home-newsletter-controls {width:100%;}
.home-newsletter-input, #mc_embed_signup .mc-field-group {width:100%!important; padding:0!important;} 
.home-newsletter-btn {position: absolute; bottom: 80px; width: 70%; left: 15%;} 

.home-newsletter input[type=text], .home-newsletter input[type=email] {
    border: none!important;
    border-bottom-color: currentcolor!important;
    border-bottom-style: none!important;
    border-bottom-width: medium!important;
    border-bottom: 1px solid #ffffff!important;
    color: #ffffff!important;	
	font-size: 24px!important;	
	background:none!important;
	background-color:#891637!important;
	border-radius: 0!important;
}
.home-newsletter input::placeholder {color: #fff; opacity: 1; font-size:24px; font-weight: 300; }

#mc_embed_signup .button {text-transform: uppercase!important;
    background: #891637!important;
    padding: 20px 0!important;
    color: #fff!important;
    font-size: 22px!important;
    font-weight: 300!important;
    border: 1px solid #fff!important;
	width:100%!important;
	display: inline-block!important; 
	border-radius: 0!important;
	height: auto!important;
	position: absolute;
    bottom: -95px;  
    left: 0;
}
#mc_embed_signup .button:hover {background: #fff!important; color:#891637!important;}
#mc_embed_signup .mc-field-group input { padding: 8px 0!important; text-indent: 0!important;}

/* Mailchimp form */
#mc_embed_signup {background-color: #891637!important;}
#mc_embed_signup form { position:absolute!important; width: 70%; padding:0!important;}
#mc_embed_signup .indicates-required {display: none!important; visibility: hidden!important; height: 0!important;}
#mc_embed_signup .mc-field-group label {display: none!important; visibility: hidden!important; height: 0!important;}
#mc_embed_signup #mc-embedded-subscribe-form div.mce_inline_error {background-color: #891637!important; color: #fff!important;}
#mc_embed_signup input:focus {outline:none!important;}
#mce-responses {min-height: 35px!important; width: 100%!important; margin: 0!important; text-align: center!important;}
#mc_embed_signup div.response {width:100%!important;}
#mc_embed_signup #mce-success-response, #mc_embed_signup #mce-error-response {color:#fff!important; padding:0!important; margin:0!important;}
#mc_embed_signup #mce-success-response, #mc_embed_signup #mce-error-response a {color:#fff!important;}
.custom_error { height: 50px; display: block!important;}

/**************************
HOME PAGE - TEAM PANEL
**************************/
.home-team {background-color: #eaeaea; padding: 80px 0;}
.home-team .panelNav {
    max-width: 1200px;
    margin: auto;
    width: 100%;
    z-index: 100;
    position: relative;
    padding: 0 10px;
}
#carouselTeam {padding-bottom: 20px;}
#carouselTeam .carousel-item {height: 375px;}
#carouselTeam .carousel-item > img {height: 370px;}

.home-team h2 {color:#891637; text-align: center; font-size: 40px; font-weight: 400; padding-bottom: 20px;}
.home-team h3 {color:#fff; text-align: center; font-size: 20px; margin-bottom: 30px;}
.home-team-img {color:#fff; text-align: center; width:80%; padding: 10px 0 0 0; margin:auto;} 
.home-team-img img { width:100%;
	-webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;  
}
.home-team-name {color:#3d3d3d; text-align: center; font-size: 24px; font-weight: 300; padding: 20px 0 0 0;}
.home-team-title {color:#3d3d3d; text-align: center; margin: auto; font-size:20px; font-weight: 300; max-width:259px;}

.home-team a:hover > div {color:#891637!important;}
.home-team a:hover > .home-team-img img {overflow:hidden; 
    transform:scale(1.05);
    -ms-transform:scale(1.05); /* IE 9 */
    -moz-transform:scale(1.05); /* Firefox */
    -webkit-transform:scale(1.05); /* Safari and Chrome */
    -o-transform:scale(1.05); /* Opera */	
}

.home-team-academic {background: #a09f9f;}
.home-team-academic h2, .home-team-academic .home-team-name, .home-team-academic .home-team-title {color:#fff;}
.home-team-academic .carousel-item {background: #a09f9f; }
.home-team-academic .carousel-control-next, .home-team-academic .carousel-control-prev {color:#fff;}

#carouselTeam .carousel-item {margin-right: 0!important;}
#_carouselTeam .carousel-item > img { position:inherit!important; min-width: auto!important; height: auto!important;}
#_carouselTeam .mx-auto {position:inherit; left: inherit; top: inherit;}
#_carouselTeam .carousel-item {background-color: #0069aa; height:auto; margin: auto;}

/* show 3 items */
  #carouselTeam .carousel-inner .active,
  #carouselTeam .carousel-inner .active + .carousel-item,
  #carouselTeam .carousel-inner .active + .carousel-item + .carousel-item {
    display: block;
  }

  #carouselTeam .carousel-inner
    .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
  #carouselTeam .carousel-inner
    .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)
    + .carousel-item,
  #carouselTeam .carousel-inner
    .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)
    + .carousel-item
    + .carousel-item {
    transition: none;
  }

  #carouselTeam .carousel-inner .carousel-item-next,
  #carouselTeam .carousel-inner .carousel-item-prev {
    position: relative;
    transform: translate3d(0, 0, 0);
  }

  #carouselTeam .carousel-inner
    .active.carousel-item
    + .carousel-item
    + .carousel-item
    + .carousel-item {
    position: absolute;
    top: 0;
    right: -33.3333%;
    z-index: -1;
    display: block;
    visibility: visible;
  }

  /* left or forward direction */
  #carouselTeam .active.carousel-item-left + .carousel-item-next.carousel-item-left,
  #carouselTeam .carousel-item-next.carousel-item-left + .carousel-item,
  #carouselTeam .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
  #carouselTeam .carousel-item-next.carousel-item-left
    + .carousel-item
    + .carousel-item
    + .carousel-item {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  /* farthest right hidden item must be abso position for animations */
  #carouselTeam .carousel-inner .carousel-item-prev.carousel-item-right {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    visibility: visible;
  }

  /* right or prev direction */
  #carouselTeam .active.carousel-item-right + #carouselTeam .carousel-item-prev.carousel-item-right,
  #carouselTeam .carousel-item-prev.carousel-item-right + #carouselTeam .carousel-item,
  #carouselTeam .carousel-item-prev.carousel-item-right + #carouselTeam .carousel-item + .carousel-item,
  #carouselTeam .carousel-item-prev.carousel-item-right
    + #carouselTeam .carousel-item
    +#carouselTeam .carousel-item
    + .carousel-item {
    position: relative;
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
    visibility: visible;
  }

#carouselTeam-resp {visibility: hidden; display: none; height: 0;width:80%; margin:auto; padding:20px 0;}
#carouselTeam-resp .carousel-inner  {width:60%; margin:auto;}

/**************************
HOME PAGE - SUPPORT US PANEL
**************************/
.panel-supportus {background: #fff;}
.home-supportus {padding: 80px 0; text-align: center;}
.home-supportus h2 {color: #891637; font-size: 40px; font-weight: 400; padding-bottom: 20px; text-align: center;}
.home-supportus img {max-width:100%; max-height: 85%;}

.btn-home-supportus {padding-top: 30px; text-align: center;}
.btn-home-supportus a {text-transform: uppercase!important; background: #fff; padding: 20px 100px; color: #891637; font-size: 22px; font-weight: 300; border: 1px solid #891637;}
.btn-home-supportus a:hover {background: #891637; color:#fff;}

.panel-supportus .panel-supportus-charity {padding-bottom:10px;}
.panel-supportus .panel-supportus-charity img {width:100px;}

/**************************
HOME PAGE - PARALLAX
**************************/
.parallaxParent {
	height: 400px;
	overflow: hidden;
}
.parallaxParent > * {
	height: 150%;
	position: relative;
	top: -50%;
}

.parallax-img {width:100%; background-image: url(../../images/site/parallax.jpg); background-repeat: no-repeat; background-size:cover; background-position: center;}
.parallax-img-main {background-image: url(../../images/site/parallax.jpg)!important;}
.parallax-img-mod {background-size:100%;}

/**************************
HOME PAGE - LINKS PANEL
**************************/
.home-links-panel {background: #eaeaea; padding:80px 0 60px 0; text-align: center;}
.home-links { padding: 0 0 20px 0; text-align: center; width: 85%; margin: auto; overflow: hidden;}
.home-links-panel h2 {color: #891637; font-size: 40px; font-weight: 400; padding-bottom: 20px;}
.home-links-panel p {color: #3d3d3d; font-size: 20px; font-weight: 300; margin: auto; padding-bottom: 40px;}

.links-carousel, .links-carousel * { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.links-carousel { width: 85% !important; margin: 0 auto; padding: 0; overflow: visible!important;}
.links-carousel img { padding: 8px 10px; margin: 20px; /* height: 75px;*/  max-width:100%;}
.links-carousel img:first-child { position: static; z-index: 100;}
.links-carousel .cycle-slide  { width: auto!important; height: auto; }

.btn-home-links {padding-top: 30px; padding-bottom: 30px; text-align: center;}
.btn-home-links a {text-transform: uppercase!important; background: #eaeaea; padding: 20px 100px; color: #891637; font-size: 22px; font-weight: 300; border: 1px solid #891637;}
.btn-home-links a:hover {background: #891637; color:#fff;}

.panel-links {padding-top:20px;}
.panel-links-item {width:95%; margin: auto; clear:both; padding-top:40px;}
.panel-links-img {width:15%; float:left;}
.panel-links-img img {width:100%;}
.panel-links-txt {width:80%; float:right;}
.panel-links-txt p {font-size:17px!important;}

/**************************
HOME PAGE - PROJECTS PANEL
**************************/
.home-projects {width: 100%; background: #999999; padding: 40px 0; text-align: center;}
.home-projects-img {padding: 10px 0;}
.home-projects h2 {color:#fff;}
.home-projects p {color:#fff;}

/**************************
HOME PAGE - PRODUCTS PANEL
**************************/
.home-products {width: 100%; background: #999999; padding: 40px 0; text-align: center;}
.home-products-img {padding: 10px 0;}
.home-products h2 {color:#fff;}
.home-products p {color:#fff;}

/**************************
PANEL STYLES
**************************/
.blog-masthead {max-width:1600px; margin:auto; width: 100%;}
.blog-masthead .container {padding: 50px 0px 50px 0;}

#divIndex {position:relative; z-index: 1000;}

/**************************
NAVSIDEBAR
**************************/
.sidebar-module .list-group-item {border:none; color: #3d3d3d; font-size: 16px; font-weight: 600; text-transform: uppercase; margin: 5px 0; }
.sidebar-module a {color: #3d3d3d; text-decoration: none; font-size: 18px; font-weight: 400; text-transform: uppercase;}
.list-group-item:hover {color:#3d3d3d!important; background-color: rgba(61,61,61,0.20)!important; }
.sidebar-module ol ol a {color:#000; font-weight: 500;}

.navsidebar .active > a {color: #000;}
.list-group{ margin-top: 10px;}
.list-group-item {padding: 0 0 0 20px;}
.list-group-item.active {color:#3d3d3d!important; background-color: rgba(61,61,61,0.20)!important; font-weight: 600;}
.list-group-item.active > a {color:#3d3d3d!important; font-weight: 600;}
.dropdown-item.active, .dropdown-item:active {background-color:inherit;}
.dropdown-item.active{ }

.sidebar-module h4 {color:#891637; text-transform: uppercase; font-weight: 600; font-size: 20px; padding: 0 10px;}

.sidebar-module ol li { padding: 5px 10px;}
.sidebar-module ol ol li {padding-left:0; padding-bottom: 10px;}
.sidebar-module ol ol li::before {content:none;}

.sidebar-module .nav-item {padding: 0 0 10px 20px;position: relative; display: block;}
.sidebar-module .nav-link { padding: 0 0 0 10px;}
.sidebar-module .nav-item .active {color: #3d3d3d!important; background-color: rgba(61,61,61,0.20)!important; font-weight: 600;}
.sidebar-module .dropdown-menu {display: block; position:initial!important; margin-top: 10px; padding:0!important;}
.sidebar-module .dropdown-menu li::before {content:none!important;}
.sidebar-module .dropdown-menu li a, .sidebar-module .dropdown-menu li a:focus {padding:0!important;color: #000; font-weight: 500;font-size:15px; background-color: #f1dcdb !important;}
.sidebar-module .dropdown-menu li a:hover {background-color: #f1dcdb!important; color:#2f67b2 !important;}


.sidebar-module .dropdown-menu{ background-color: #f1dcdb !important;}

/* Sub Menu */
.navsidebar-sub {padding-left:10px;}

/**************************
CONTACT FORM
**************************/
.fb-text-label, .fb-select-label, .fb-textarea-label {display:none; visibility: hidden; height:0;}
.contact-details {padding: 0 10px;}

#contact-form, #donation-form {padding: 15px 0;}
#contact-form-fields .rendered-form .form-group, #donation-form .rendered-form .form-group {margin-bottom: 30px;}
#contact-form-fields input:focus, #contact-form-fields select:focus, #contact-form-fields textarea:focus,
#donation-form input:focus, #donation-form select:focus, #donation-form textarea:focus
	{-webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;}
#contact-form-fields input[type=text], #contact-form-fields input[type=email], #contact-form-fields input[type=textarea],
#donation-form input[type=text], #donation-form input[type=email], #donation-form input[type=textarea]
	{    
    border: none;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-bottom: 1px solid #891637;
	background: none;
    color: #3d3d3d;
	font-size: 20px;
}
#contact-form-fields select {border-radius: 0px !important; border-color: #000; border-top:none; border-left:none; border-right:none; padding:0!important; margin:0!important;}
#contact-form-fields textarea, #donation-form textarea {border-radius: 0px !important; border: 1px solid #891637; font-size: 20px; color: #3d3d3d;}

#contact-form-fields input::placeholder, #contact-form-fields select::placeholder, #contact-form-fields textarea::placeholder {color: #3d3d3d; opacity: 1; font-size:20px; }
#contact-form-fields input[type="text"]::-ms-input-placeholder, #contact-form-fields select::-ms-input-placeholder, #contact-form-fields textarea::-ms-input-placeholder { color: #000; }
#contact-form-fields .checkbox-group, #contact-form-fields .radio-group { border-top: 1px dashed #891637; padding-top: 10px;}
#contact-form-fields .fb-checkbox-group label, #contact-form-fields .fb-radio-group label {padding-left: 15px;}
#contact-form-fields .fb-checkbox-group input, #contact-form-fields .fb-radio-group input {margin-left: 15px;}

.contact-page #contact-form .field-location,
.contact-page #contact-form .field-projects,
.contact-page #contact-form .field-expertise,
.contact-page #contact-form .field-availability 
	{display:none; visibility: hidden; height: 0;}

.page-form {background-color: rgba(234,234,234,0.30); margin: 30px 0;}
.page-form form {padding:20px!important;}
.page-form h2 {padding-bottom: 10px!important;}

.grants-form-fields input::placeholder, 
.grants-form-fields select::placeholder, 
.grants-form-fields textarea::placeholder, 
.grants-form-fields .fb-checkbox-group-label, 
.grants-form-fields .fb-radio-group-label, 
.grants-form-fields .checkbox-group,  
.grants-form-fields .radio-group
	{font-size:15px!important; }

.grants-form-fields .fb-textarea-label {display: block!important; visibility: visible!important; height: auto!important; font-size:15px;}
.grants-form-fields .fb-textarea span  {display: none!important; visibility: hidden!important; height: 0!important;}

/**************************
PRODUCTS MODULE
**************************/
.products-row .col-md-4 {padding-top: 15px;}
.products-row {margin-top: 0!important; padding-bottom: 0!important; min-height: 0!important;}
.products-row .col-3 img {width: 100%;}

.products-row-txt {position:relative; top: -60px; margin-bottom: -60px; background: rgba(255,255,255,0.80); padding: 5px; }
.products-row h2 {color:#000; text-transform: uppercase; font-size: 32px; font-weight: 700; margin-bottom: 10px; text-align: center;}
.products-row h3 {color:#999999; text-transform: uppercase; font-size: 18px; letter-spacing: 0px; font-weight: 600; text-align: center;}
.products-row h4 {color:#000; font-size: 18px; font-weight: 600; text-align: center;}

.products-row-a, .products-row-a img,.div-img  {overflow:hidden;}
.products-row-a:hover .div-img img {color:#000;  overflow:hidden; 
    transform:scale(1.1);
    -ms-transform:scale(1.1); /* IE 9 */
    -moz-transform:scale(1.1); /* Firefox */
    -webkit-transform:scale(1.1); /* Safari and Chrome */
    -o-transform:scale(1.1); /* Opera */
	background-color: #000;
}

.products-row-a:hover  {color:#000;  overflow:hidden;   
	opacity:0.6;
}
.products-row-a:hover h3 {color: #fff;}
.products-row-a:hover h4 {color: #fff; }
.products-row-a:hover .products-row-txt {background: rgba(0,0,0,1.00);padding-bottom: 2px!important;} 

.product-item-price {color:#000; font-weight:700; font-size: 18px;}
.product-item-description {padding: 10px 0;}
.product-item-shipping {padding-bottom:20px;}
.product-item-shipping h3 {text-transform: uppercase; font-weight:400; letter-spacing: 3px; font-size: 13px;}

.btn-cart {text-transform: uppercase; background: #99cccc; padding:12px 0px; color:#fff; font-size: 18px; letter-spacing: 4px; font-weight: 600; border: none; width: 100%;}
.btn-cart:hover {background: #fff; color:#99cccc; border: 1px solid #99cccc;}

/**************************
DONATIONS
**************************/
.navbar-donation {padding: 0px; position: fixed; top: 124px; right: 183px; z-index: 1000;}

.navbar-donation .btn-donation {background: #f26a31; padding:18px 30px 18px 30px; color:#fff; font-weight: 600; text-transform: uppercase; border: none; width: 100%; font-size:16px;}
.navbar-donation .btn-donation:hover {color:#000; background: rgba(242,106,49,0.6); }

.donationWrapper {padding: 10px 0; text-align: center;}
.donationWrapper .container {padding: 0;}

.donationWrapperInvisible {display:none;}
.txtDonationAmt {width: 100px;}	

.donationForm {display:none;}
.donationFormVisible {display:block;}

.donation-item a:hover > .donation-details {color:#fff!important; background-color: #000!important;}
.donation-details {background-color:#e8e8e8; text-align: center; color:#000; padding:20px; border-radius: 20px;}

.frmDonation .rad-donation {display:none; position: relative; z-index: 2;}

.frmDonation .label-amount {
	position: relative;
	color: #f26a31;
	background-color: rgba(61,61,61,0.10);
	font-size: 36px;
	font-weight: 300;
	text-align: center;
	height: 250px;
	line-height: 190px!important;
	padding-top:90px;
	display: block;
	cursor: pointer;
	border: 3px solid transparent;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom: 0;
}
.frmDonation .label-amount-mth {line-height: 90px;}

.frmDonation .radSectionAmount input:checked + .label-amount {
	border: 1px solid #f26a31;
	background-color: #f26a31!important;
	color: #fff!important;
}

.frmDonation .form-control[readonly] {background-color: #fff; border: none; padding: 0;}
.frmDonation .form-control[readonly]:focus {-webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;}

.donation-amt {position: absolute; bottom: 2px; width:100%; text-align: center;}

.frmDonation {padding:40px 0 100px 0;}
.frmDonation .btn-donation, .frmDonation .btn-donation:active, .frmDonation .btn-donation:visited {
	text-transform: uppercase !important;
	background: #fff;
	padding: 20px 100px;
	color: #f26a31!important;
	font-size: 22px;	
	font-weight: 300;
	border: none;	
	border: 1px solid #f26a31!important;
	margin-top: 30px;
}
.btnDonation {margin-top:30px;}

.frmDonation .btn-donation:hover {background: #f26a31!important; color:#fff!important;}

.donationOther {color:#f26a31; font-weight: 600;}
.donationOther input {border-color:#f26a31; border-width: 1px; width: 100%; height: 60px; text-align: center; font-size: 36px; color:#2f67b2; font-weight: 300;}
#radAmountOtherRegular, #radAmountOtherOnce {display: none; width: 0;}

.rendered-form .form-control {border-radius: 0px;}
.frmDonation h1 p {color: #222a61!important; font-weight: 700!important; font-size: 19px!important; padding: 5px 0 5px 0!important; margin-bottom: 0!important;}
.frmDonation h1 {margin-bottom: 20px;}

.frmDonation .field-donation, .frmDonation .field-type {display:none; visibility: hidden; height:0;}

.divDonationDetails {padding-bottom:20px;}

.paymentDetails-option {padding-bottom:20px;}
.paymentDetails-option input[type="radio"] {margin: 0 20px;}

.direct-deposit {margin-left: 60px; padding-top:10px;}
.direct-deposit p, .direct-deposit a {font-size: 16px !important;}

.donation-charity {width:100%;}
.donation-charity-txt {float:left; width:85%;}
.donation-charity-img {float:right; width:15%;}

.other-amt-txt {position: relative; top: 20px; text-align: right !important; width: 100%;}
.donation-category-txt {font-size:16px; position: relative; top: -120px; color: #000; z-index: 2; margin-top: -40px; padding: 0 10px;}
.donation-per-month-txt {text-transform: uppercase; font-size:12px; position: relative; top:-60px; color: #000; font-weight: 600;}
.donation-per-month-txt2 {text-transform: uppercase; font-weight: 500; font-size:12px; color: #000; text-align: left; position: relative; top: 20px;}
.donation-icon {font-size:50px; color: #f26a31; position: relative; top: 90px; z-index: 1; margin-top: -70px;}

.donation-per-month-txt::after1 {
    content: "\f47f";
    font-family: 'Font Awesome\ 5 Free';
	position: relative;
	top: -140px;
	color: #0069aa;
	font-size: 50px;
	margin-top: 2px;
	display: inline-block;
	font-weight: 900;
	margin-left: -20px;
	left: -25px;
}

.donation-icon:hover {cursor: pointer;}

.donate-charity {margin: auto;}
.donate-charity img {width:60%;}

#donation-form .checkbox-group {display: inline-block; padding-left: 20px;}
#donation-form .checkbox-inline input {transform: scale(2);}

.panel-donors {background:#a09f9f; padding: 30px 0; text-align: center;}
.panel-donors h2 { color: #fff; font-size: 40px; font-weight: 400; padding-bottom: 20px;}
.panel-donors h2 i {animation: fadeIn 2s infinite alternate; color:#891637;}

.marquee {height: 50px; overflow: hidden; position: relative;}
.marquee p {
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0;
	line-height: 50px;
	text-align: center;
	-moz-transform: translateX(100%);
	-webkit-transform: translateX(100%);
	transform: translateX(100%);
	-moz-animation: scroll-left 25s linear infinite;
	-webkit-animation: scroll-left 25s linear infinite;
	animation: scroll-left 25s linear infinite;
}

.marquee p span, marquee p span {padding:0 50px; color:#fff; font-size: 20px; font-weight: 200; width:100%;}
.marquee p span b, marquee p span b {color:#891637;}

@-moz-keyframes scroll-left {
	0% {
		-moz-transform: translateX(100%);
	}
	100% {
		-moz-transform: translateX(-100%);
	}
}

@-webkit-keyframes scroll-left {
	0% {
		-webkit-transform: translateX(100%);
	}
	100% {
		-webkit-transform: translateX(-100%);
	}
}

@keyframes scroll-left {
	0% {
		-moz-transform: translateX(100%);
		-webkit-transform: translateX(100%);
		transform: translateX(100%);
	}
	100% {
		-moz-transform: translateX(-100%);
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
	}
}

@keyframes fadeIn { 
  from { opacity: 0.1; } 
}

/**************************
SHOPPING CART
**************************/
.hidden-country {display:none!important; height:0!important;}

.table thead th {}
.table td, .table th {}
.table thead th {letter-spacing: 4px; color:#000; font-size: 18px; border-top: none;}
.table td {color:#000; font-size: 16px; font-weight: 400;}
.table tfoot th {color:#000; font-size: 16px; text-align: right; border-top: 1px solid #99cccc; font-weight: 700;}
.td-center {text-align: center;}
.td-right {text-align: right;}

.btn-cart-remove {color: #99cccc!important; text-decoration: none; font-size: 16px !important; font-weight: 600; letter-spacing: 2px; position: relative; top: -4px; padding: 0; text-transform: lower;}	
.btn-cart-remove i {position: relative; top:1px;}
.btn-cart-remove:hover {color: #000!important; text-decoration: none;}

.btn-cart-shopping {color: #99cccc!important; text-decoration: none; font-size: 18px !important; font-weight: 600; letter-spacing: 2px; text-transform: lower;}	
.btn-cart-shopping:hover {color: #000!important; text-decoration: none;}

.btn-checkout, .btn-checkout:active, .btn-checkout:visited {text-transform: uppercase!important; background: #fff; padding:20px 100px; color:#891637; font-size: 22px; font-weight: 300; border: none;  border: 1px solid #891637; margin-top:30px;}
.btn-checkout:hover {background: #891637; color:#fff;}
.btn-checkout:focus {outline: none!important;}

#checkout h3 {color: #99cccc !important; font-size: 18px !important; font-weight: 600; letter-spacing: 2px; text-transform: lowercase;}

.alert-info {
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 0;      
    margin: 0 0px 20px 0px;
	padding:0;
}

.alert-success {color: #093!important; background-color:white; }
.alert-error {color:#FB0307}

.form-control-feedback {color: #CC0000; padding: 10px 0px 0px 10px;}

/**************************
FOOTER
**************************/
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 280px; /* Set the fixed height of the footer here (for sticky footer) */
  background-color: #3d3d3d;
	text-align: center;
}
.footerContentWrapper {color:#fff; font-size: 16px; text-align: left; padding-top: 70px;}
.footerContent {padding-bottom: 30px; width: 95%; margin: auto;}

#footer-social {color: #fff; width:100%; margin: 0 auto; padding: 10px 0; text-align: center; font-size: 12px;}
#footer-social i {font-size:20px;}
#footer-social a, #footer-txt a:active {color: #fff; text-decoration: none; font-size: 12px; line-height: 120%; padding: 0 10px;}
#footer-social a:hover{ color: #f26a31; text-decoration: none;}

#footer-txt {color: #fff; width:100%; margin: 0 auto; padding: 10px 1%; text-align: center; font-size: 16px;}
.footer a, .footer a:active, .footer a:visited {color: #fff; text-decoration: none; font-size: 16px!important; line-height: 120%; padding: 0 7px!important; font-weight: 300!important;}
.footer a:hover{ color: #f26a31; text-decoration: none;}

.footerContainer {padding: 40px 0;}

.footer .footer-logo-old {font-size:10px; color:#fff; padding-top:20px; padding-left: 8px;}
.footer-charity {width:100%; padding: 15px 0;}
.footer-charity-txt {float:left; line-height: 150%;}
.footer-charity-img {float:right;}
.footer p {line-height: 150%; font-size: 16px; text-align: center; color: #fff;}
.footer-phone {text-align: right;}
.footer-phone span {padding-right:42px;}

/**************************
PREVIEW BAR
**************************/
.preview {width:100%; height:52px; background-color: #a6dbd7; position:fixed; z-index: 1000; top:0; color:#fff; }
.preview .navbar-logo {height: 54px; width: auto; position: relative; top: -2px;margin-left: 15px}
.preview, .preview a {font-size: 20px; color:#fff; font-weight: 500; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;}
.preview a:hover {color: #000!important;}
.preview a i {padding-top: 15px;}
.preview-return {float:right; margin-right: 30px;}
.preview-return a {font-size:16px; color:#b71319;}
.preview .spacer {padding: 0 10px;}

/**************************
HELPER - SHARING
**************************/
#share {font-size: 11px!important; border-top: 1px #891637 solid; margin-top: 20px; padding: 20px 0; clear: both;}
.a2a_menu a {font-size: 13px!important;}
.a2a_menu {background: #e8e8e8!important; }
a.a2a_i, i.a2a_i {border: none!important;}
#share i {font-size: 18px; padding: 0 7px 0 0;}
#share a {padding: 0 7px 0 0;}
.share-space {float: left; padding: 0 70px 0 0; }
.share-space a {color: #891637!important; }
.share-space a:hover {color: #000!important; }

/**************************
HELPER - PAGINATION
**************************/
#pagination {margin-top: 20px; padding: 20px 0; clear: both;}
#pagination ul li::before {content: ""!important;}
.pagination  li {padding: 0 5px; font-size: 16px;}

.btn-pagination {width:100%; font-size:14px!important; font-weight: 400;  padding: 10px 0 0 0;}
.btn-prev {float:left; width:50%; text-transform: uppercase;}
.btn-next {float:right; width:50%; text-align: right; text-transform: uppercase;}


.page-link, .page-link:active, .page-link:visited {color: #1a305c!important; border:none!important;}
.page-link:hover {color: #000!important; background: rgba(26,48,92,0.50)!important; color:#fff!important;}
.page-link:focus {outline: none!important; box-shadow: none!important;}
.page-item.active .page-link { background: #1a305c; border-color: #1a305c; color:#fff!important;}

/**************************
HELPER - BUTTONS
**************************/
.btn-more {width: auto; margin-top: 10px!important; text-align: center;  } /* style used on button tag */
.btn-more a, .btn-more a:active, .btn-more a:visited { }
.btn-more a:hover {}

.btn-back {width:100%; padding: 20px 0 0 0; }

/**************************
HELPER - BACK TO TOP BUTTON
**************************/
#btnTopPage {
  display: none; 
  position: fixed; 
  bottom: 20px; 
  right: 15px; 
  z-index: 99; 
  border: none; 
  outline: none;
  background-color: #f26a31; 
  color: white; 
  cursor: pointer;
  padding: 10px; 
  border-radius: 0;
  font-size: 18px; 
}

#btnTopPage:hover {color:#000; background: rgba(242,106,49,0.60);}

/**************************
NEWS MODULE
**************************/
/****/
.news-list-item {clear:both;  padding: 0px 0 20px 0px; overflow: hidden;}
.news-list-item .btn {padding: 2px 20px;}
.news-list-item-txt {float: left;   width: auto;}
.news-list-item-img {float: right;  width: 35%;}
.news-list-item-img img { width: 100%; max-width: 100%; height: auto;}
.news-list-more {text-align:right;}

.news-item {clear:both; padding: 10px 0px; width:100%;}
.news-item-txt {/*float: left;  width: 65%; */ }
.news-item-img {float: right;  width: 45%; height: auto; text-align: center; margin: 0; padding-left:20px;}	
.news-item-img img {width:100%; height:auto; /*width: 100%; max-width: 100%; height: auto;*/}

.panel-news {padding-bottom:30px;}
.panel-news-item {width: 100%; height: 100%; border-bottom: 1px solid #891637;}

.panel-news-item img {width:100%;}

.panel-news-item-category-date {color:#000; font-weight: 600;}
.panel-news-item-category {color:#b5b8b8; font-weight: 600; text-transform: uppercase;}
.panel-news-item-date {color:#8aa6b6!important; font-weight: 600; font-size:18px;}
.panel-news-item-title {color:#3d3d3d; font-weight: 600; margin-top: 7px; font-size:16px; text-transform: uppercase;}
.panel-news-item-shortdesc {color:#231f20!important; font-weight: 300; font-size:16px!important; }
.panel-news-item-shortdesc p { color:#231f20!important; font-weight: 300; font-size:16px!important;}
.panel-news-item p {margin-bottom: 0px;}

.panel-news-item h2 {color:#000!important;}
.panel-news-item .btn-more, .btn-more { text-transform: uppercase!important; padding-top: 10px!important; color: #891637!important; font-size: 18px!important; font-weight: 600!important; display: inline-block;}
.panel-news-item .btn-more:hover, .btn-more:hover {color:#000!important;}


.panel-news-item a:hover > div  {color:#555656!important;}
.panel-news-item-wide a:hover .div-img img {overflow:hidden; 
    transform:scale(1.1);
    -ms-transform:scale(1.1); /* IE 9 */
    -moz-transform:scale(1.1); /* Firefox */
    -webkit-transform:scale(1.1); /* Safari and Chrome */
    -o-transform:scale(1.1); /* Opera */
	background-color: #000;
}
.panel-news-item-wide {background-color: #e6edf3; margin: 20px 0; padding: 15px 15px 20px 15px;}
.panel-news-item-wide .div-img {max-height: 220px;}

.panel-news-item-wrap {padding:30px 0; display: inline-block;}
.panel-news-item .news-item-img {width:25%;}
.panel-news-item .news-item-img img {width:100%;}
.panel-news-item .news-item-txt {float:left;}
.panel-news-item .news-item-txt-float {width:75%;}

/* Newsletter */
.newsletter-container {/*width:70%; margin:auto; text-align: center;  position: relative; top: 55%; -ms-transform: translateY(-55%); transform: translateY(-55%);*/  margin: 40px 0 30px 0;
	border: 1px solid rgba(154,157,160,0.22);
	padding: 0px 20px;
	-webkit-box-shadow: 10px 10px 5px 0px rgba(154,157,160,0.22);
	-moz-box-shadow: 10px 10px 5px 0px rgba(154,157,160,0.22);
	box-shadow: 10px 10px 5px 0px rgba(154,157,160,0.22);
	background-color:rgba(137,22,55,0.10);
	
}
.newsletter-container .news-item-txt, .news-item-foot {}
.newsletter-brief {background-color:#fff!important;}
.newsletter {width:100%; overflow: auto;}
.newsletter-main {float:left; width:100%; padding:10px 10px 10px 10px;}

.newsletter-main h2 {color:#000!important;}
.newsletter-main img {width:100%!important; height:auto!important;}
.newsletter-main p {}

.newsletter-edition {font-size: 14px; font-weight:600;}
.newsletter-edition h2 {font-size: 16px!important; font-weight:600; text-transform: uppercase;}
.newsletter-edition p {font-size:14px!important;}

.newsletter-brief {font-size: 14px;}
.newsletter-brief h2 {font-size: 16px!important; font-weight:600;}
.newsletter-brief p {font-size:14px!important;}

.newsletter-container a {font-size:14px!important;}
.newsletter-container ul li {list-style: disc!important;font-size:14px!important;}
.newsletter-container ul li::before {content: ""!important;}

.news-item-foot {padding:20px; background-color:#f8f8f8; clear: both; border-top: 5px solid #000; font-size:14px!important;}


.news-newsletter {/*max-width: 1600px; margin:auto;*/ }
/*.news-newsletter .newsletter-container {width:100%;}*/
.news-newsletter .home-newsletter {background-color:#cedfee; height:auto; padding-top:40px;}
.news-newsletter .home-newsletter h2 {color:#3067b2;}
	
.news-newsletter .home-newsletter-input input[type="text"], .news-newsletter .home-newsletter-input input[type="email"] {color: #2f67b2; border-bottom: 1px solid #2f67b2;}
.news-newsletter .home-newsletter-input input::placeholder {color: #2f67b2; opacity: 1; font-size:15px; }
.news-newsletter .home-newsletter-input input::-ms-input-placeholder { color: #000; }
.news-newsletter .home-newsletter-btn .btn-submit {border-bottom:none; border: 1px solid #1a305c;}
.news-newsletter .home-newsletter-btn .btn-submit:hover {border: 1px solid #1a305c;background-color:#cedfee!important;}

input[type="text"]::-ms-input-placeholder, input[type="email"]::-ms-input-placeholder { color: #fff; }

/**************************
EVENTS MODULE
**************************/
/****/
.events-list-item {clear:both;  padding: 0px 0 20px 0px; overflow: hidden;}
.events-list-item .btn {padding: 2px 20px;}
.events-list-item-txt {float: left;   width: auto;}
.events-list-item-img {float: right;  width: 35%;}
.events-list-item-img img { width: 100%; max-width: 100%; height: auto;}
.events-list-more {text-align:right;}

.events-item {clear:both; padding: 10px 0px; width:100%;}
.events-item-txt {/*float: left;  width: 65%; */ }
.events-item-date {color: #8aa6b6!important; font-weight: 600; font-size: 15px!important;}
.events-item-img {float: right;  width: 45%; height: auto; text-align: center; margin: 0; padding-left:20px;}	
.events-item-img img {width:100%; height:auto; /*width: 100%; max-width: 100%; height: auto;*/}
.events-item-book {padding-bottom: 15px;}

.panel-events {padding-bottom:30px;}
.panel-events-item {width: 100%; padding: 10px 20px; background-color: #e6edf3; margin-bottom: 40px; height: 100%;}
.panel-events-item img {width:100%;}

.panel-events-item-category-date {color:#000; font-weight: 600;}
.panel-events-item-category {color:#b5b8b8; font-weight: 600; text-transform: uppercase;}
.panel-events-item-date {color:#8aa6b6!important; font-weight: 600; font-size:15px!important;}
.panel-events-item-title {color:#2f67b2; font-weight: 600; margin-top: 7px; font-size:16px; }
.panel-events-item-shortdesc {color:#231f20!important; font-weight: 300; font-size:16px!important; }
.panel-events-item-shortdesc p { color:#231f20!important; font-weight: 300; font-size:16px!important;}
.panel-events-item p {margin-bottom: 0px;}

.panel-events-item a:hover > div > img {overflow:hidden; opacity:0.8;}
.panel-events-item a:hover > div {color:#555656!important;}

.panel-events-item a:hover .div-img img {overflow:hidden; 
    transform:scale(1.1);
    -ms-transform:scale(1.1); /* IE 9 */
    -moz-transform:scale(1.1); /* Firefox */
    -webkit-transform:scale(1.1); /* Safari and Chrome */
    -o-transform:scale(1.1); /* Opera */
	background-color: #000;
}

#jQueryPopupDiv {height: auto !important; }
.btn-popup {color:#FFF!important; padding: 10px 25px;font-size: 15px;  margin: 0 0 10px;  min-width: 90px; width: 35%; background: #3067b2 none repeat scroll 0 0; border:1px solid #3067b2!important; font-weight: 600;  } 
.btn-popup a, .btn-popup a:active, .btn-popup a:visited { }
.btn-popup:hover {background: #fff; color: #3067b2!important;}
.ui-widget-header {background:#1a305c; color: #fff;}
.ui-dialog-buttonset .ui-button {background: #cc1f36!important; color:#fff!important; border-radius: 0!important; border:1px solid #cc1f36!important; font-weight: 600;}
.ui-dialog-buttonset .ui-button:hover {background: #fff!important; color:#cc1f36!important; }

#frmRegister .form-wrapper {background: #e6edf3; padding: 2.5%; margin:2% 0;}
#frmRegister .form-wrapper-white {background: #fff!important;}
.paymentHide {display:none; visibility: hidden; height: 0;}

/**************************
FAQS MODULE
**************************/
.faqs .accordion-toggle {text-decoration: none!important;}
.faqs .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Font Awesome\ 5 Free';  /* essential for enabling glyphicon */
    content: "\f078";    /* adjust as needed, taken from bootstrap.css */
    padding-left:10px;
	font-weight:900
}
.faqs .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\f054";    /* adjust as needed, taken from bootstrap.css */
}

/**************************
DOCUMENTS MODULE
**************************/
.document-wrapper {width:100%; clear:both; border-top: 1px #007bff solid; padding: 10px 10px;}
.document-title {float:left;}
.document-link {float:right;}
.document-link a, .document-link a:active, .document-link a:visited {text-decoration: none;}	
.document-details {width:100%; clear:both; padding-bottom: 5px; }

/**************************
GALLERY MODULE
**************************/
.gallery-item {padding-top: 20px;}
.gallery-a, .gallery-a img, .gallery-item .div-img  {overflow:visible!important; margin-top: 10px; text-align: center; margin: auto;}
.gallery-a:hover .div-img img {color:#000!important;  overflow:hidden; 
    transform:scale(1.1);
    -ms-transform:scale(1.1); /* IE 9 */
    -moz-transform:scale(1.1); /* Firefox */
    -webkit-transform:scale(1.1); /* Safari and Chrome */
    -o-transform:scale(1.1); /* Opera */
	
}
.gallery-a .div-img img {width:80%; margin: auto;}
.gallery-a:hover  {overflow:hidden; opacity:0.8;}
.gallery-a:hover .gallery-name, .gallery-a:hover .gallery-name {color: #891637!important;}

.gallery-name {color: #000; font-weight: 700; line-height: 150%; font-size: 18px; text-transform: uppercase; text-align: center; padding-top: 20px;}
.gallery-description { color: #8aa6b6; line-height: 150%; font-size: 18px; font-weight: 600;}

.gallery-baguetteBox {display: inherit; padding-top: 20px;}

/**************************
PROJECTS MODULE (RESEARCH)
**************************/
.project-block {}
.project-block .container {padding: 0px; }
.project-summary {color:#222a61!important; font-size: 19px!important;}

/* List Page */
.project-list-item {clear:both;  padding: 20px 20px; overflow: hidden;  background-color:rgba(137,22,55,0.10); margin: 20px 0;}
.project-name {color:#891637; font-size:20px; font-weight: 600; padding: 10px 0;}
.project-title {color:#000; font-size:18px; font-weight: 600; padding: 10px 0;}
.project-list-item hr {border:2px solid #891637;}
.project-row {width:100%; clear:both; padding: 10px 0;}
.project-row-field {float:left; width:25%; color:#000; font-size:15px; text-transform: uppercase; font-weight: 600;}
.project-row-value {float:left; width:75%; color:#231f20; font-size:16px }
.project-btn {width:100%; clear:both; text-align: right; position: absolute; right: 40px;}

.project-btn a .fa-chevron-down, .project-btn a .fa-times {background-color: #891637; color:#fff!important; padding: 5px;}
.project-btn a .fa-chevron-up {background-color: #939393; color:#fff!important; padding: 5px;}
.project-btn a i:hover {color:#000!important;}
.project-btn a .fa-chevron-up {display:none;}

.project-row-more {display: none;}

/* Item Page */
.project-item {clear:both; padding: 10px 0px; overflow: hidden; width:100%;}
.project-item-txt {float: left;  width: 65%; padding-right: 20px;  }
.project-item-img {float: right; width: 35%; height: auto; text-align: center;}	
.project-item-img img {width: 100%; max-width: 100%; height: auto; } 

.project-block.cards-project .card{
  transition: 0.4s ease; 
}

.project-block.cards-project .card img {}

/**************************
SPECIALISTS MODULE 
**************************/
/* List Page */
.specialist-list-item {clear:both;  padding: 20px 20px; overflow: hidden;  background-color:#e6edf3; margin: 20px 0;}
.specialist-name {color:#cc1f36; font-size:16px; font-weight: 600; padding: 10px 0;}
.specialist-title {color:#2f67b2; font-size:16px; font-weight: 600; padding: 10px 0;}
.specialist-title-inner { padding: 0px 10px 0 0; display: inline-block;}
.specialist-list-item hr {border:2px solid #242b61;}

.specialist-row-top-field {float:left; width:15%; color:#8aa6b6; font-size:15px; text-transform: uppercase; font-weight: 600;}
.specialist-row-top-value {float:left; width:85%; color:#231f20; font-size:16px }
.specialist-row {width:100%; clear:both; padding: 10px 0; display: inline-block;}
.specialist-row-inner {padding: 20px 0 0 0;}
.specialist-row-field {float:left; width:40%; color:#8aa6b6; font-size:15px; text-transform: uppercase; font-weight: 600;}
.specialist-row-value {float:left; width:60%; color:#231f20; font-size:16px }
.specialist-btn {width:100%; clear:both; text-align: left;}

.specialist-btn a .fa-chevron-down, .project-btn a .fa-times {background-color: #2f67b2; color:#fff!important; padding: 5px;}
.specialist-btn a .fa-chevron-up {background-color: #939393; color:#fff!important; padding: 5px;}
.specialist-btn a i:hover {color:#000!important;}
.specialist-btn a .fa-chevron-up {display:none;}

.specialist-row-more {display: none;}

.project-row-value a { font-size: 16px!important; color:#231f20!important; font-weight: 500!important;}
.project-row-value a:hover {font-weight: 600!important;}

.specialist-filters {background: #f1dcdb; padding: 20px; width:100%;}
.specialist-filters label {color: #000; text-transform: uppercase; font-weight: 600; font-size: 15px;}
.specialist-filters-item {width:100%; overflow: auto;}
.specialist-filters-item-label {float:left; width:10%; color: #000; text-decoration: none; font-size: 15px; font-weight: 600; text-transform :inherit;}
.specialist-filters-item-input {float:left; width:85%; }
.specialist-filters-item-input input {margin: 0 5px 0 20px;}
.specialist-row-btn {padding-top:30px; display: inline-block; width: 100%;}

.divStates {display:none; visibility: none; margin-top:5px;}
.divStateAustralia, .divStateNewZealand {display:inline-block;}

/**************************
TEAM MODULE
**************************/
.team-item .div-img img {max-width: 250px;}
.team-item .div-img-grants {text-align: center; margin: auto;}	
.team-item .div-img-grants img {width:auto; max-width: auto; max-height: 109px;}	
.team-item .team-txt-grants {text-align: center; margin: auto;}	

.team-item-img {
    position: absolute;
    top: 5px;
    left: 5px;
    bottom: 5px;
    right: 5px;
    background-size: cover!important;
   /* padding: 15px;*/
}

.team-name-band{
    position: absolute;
    bottom: 5px;
    height: 90px;
    padding: 10px;
    width: calc(100% - 10px);
    background: rgba(0, 0, 0, .5);
    left: 0;
    margin-left: 5px;
    text-align: center;
    color: white;
}

.team-name-band-title {font-size: 14px; color:#fff; font-weight: 300;}

.team-name-band a:hover{
    color: white !important;
}

.team-name-band p {margin-bottom: 0;}

.team-h2 {padding-top:0px!important; padding-bottom: 10px !important;}
.team-h2-gap {padding-top:30px!important;}
.team-hr hr {border-top: 2px solid #000!important;}

.team-item-img img {width:100%;}

.team-txt {padding: 5px 0 30px 0;}
.team-name-band-name {color:#000; font-weight: 700; line-height: 150%; font-size: 18px; text-transform: uppercase;}
.team-name-band-position {color:#8aa6b6; line-height: 150%; font-size: 18px; font-weight: 600;}
.team-name-band-qualification {color:#000; line-height: 150%; font-size: 12px;}

.team-a, .team-a img,.div-img  {overflow:hidden; margin-top: 10px; text-align: center;}
.team-a:hover .div-img img {color:#000!important;  overflow:hidden; 
    transform:scale(1.1);
    -ms-transform:scale(1.1); /* IE 9 */
    -moz-transform:scale(1.1); /* Firefox */
    -webkit-transform:scale(1.1); /* Safari and Chrome */
    -o-transform:scale(1.1); /* Opera */
	
}
.div-img img {width:100%;}

.team-a:hover  {overflow:hidden; opacity:0.8;}
.team-a:hover .team-name-band-name, .team-a:hover .team-name-band-title {color: #891637!important;}

/* Modal */
.modal {z-index:10000;}
.modal-lg {max-width: 50%;}
.modal-content {position:absolute!important; top:129px; border-radius: 0; background-color: #fff;}
.modal-body-body {width:100%;}
.modal-header {padding-botttom:0;  border-bottom: 2px solid #891637; margin: 20px; padding: 0;}
.modal-header-content {padding-bottom: 20px; width:100%;}
.modal-body {padding: 0 20px;}
.modal-body-img {float:left; width:30%; padding: 0 20px;}
.modal-body-txt {float:left; width:70%; padding: 0 20px 0 0; }
.modal-body-txt p {font-size:16px!important;}
.modal-body-img img {width:100%;}
.modal-header .team-name-band-name {color: #891637; width:100%;}
.modal-header .team-name-band-position, .modal-header .team-name-band-qualification {color:#8aa6b6;font-size: 18px; font-weight: 600;}
.modal-footer {border:none!important;}

.modal-body-txt-grants {float:left; width:100%; padding: 0 20px 0 0; }
.modal-body-txt-grants p {font-size:14px!important;}

.modal-btn {width:100%; clear:both; text-align: right;}
.modal-btn a .fa-times {background-color: #891637; color:#fff!important; padding: 5px;}
.modal-btn a i:hover {color:#000!important;}

/**************************
TABS
**************************/
.mj_tab_items > div {border-radius:0!important; color:#fff; border:none!important; padding-top:15px; padding-bottom:15px; opacity: 1; }
[data-tab="#tab1"]:hover, [data-tab="#tab2"]:hover, [data-tab="#tab3"]:hover, [data-tab="#tab4"]:hover {background-color:#e74440!important;}
.mj_tab_items > div:hover {opacity: 0.7!important;}
.mj_tab_items > div.active {font-weight:600; background-color:#f26a31!important; opacity: 1!important;}
.mj_tab_items > div::after {
    content: "\f067";
    font-family: 'Font Awesome\ 5 Free';
    position: absolute;
    right: 0px;
    color: #fff;
    font-size: 12px;
    margin-right: 10px;
    display: inline-block;
    font-weight: 900; 
	margin-top: 2px;
}
.mj_tab_items > div.active::after {
    content: "\f068";
    font-family: 'Font Awesome\ 5 Free';
    position: absolute;
    right: 0px;
    color: #fff;
    font-size: 12px;
    margin-right: 10px;
    display: inline-block;
    font-weight: 900;
	margin-top: 2px;
}

.mj_accordion_item {}
.mj_tab_items > div {margin-right: 0px;}
.mj_accordion_content ul li::before, .mj_tab_contents ul li::before {margin-left: 30px!important;}
.mj_tab_contents ul ul li::before {margin-left: 60px!important;}
.mj_tab_contents > div {border-radius:0!important;}

.pages-donation .mj_tab_items div:nth-child(1) { background-color:#891637;}
.pages-donation .mj_tab_items div:nth-child(2) { background-color:#891637;}

.pages-donation .mj_tab_items div:nth-child(2) {padding-left: 45px; width:50%;}
.pages-donation .mj_tab_items div:nth-child(2)::before {
    content: "\f004";
    font-family: 'Font Awesome\ 5 Free';
    position: absolute;
    left: 0px;
    color: #fff;
    font-size: 20px;
    margin-top: -2px;
    display: inline-block;
    font-weight: 900;
    margin-left: 15px;
}

.pages-donation .mj_tab_items div:nth-child(1) {padding-left: 40px; width:50%;}
.pages-donation .mj_tab_items div:nth-child(1)::before {
    content: "\f21e";
    font-family: 'Font Awesome\ 5 Free';
    position: absolute;
    left: 0px;
    color: #fff;
    font-size: 20px;
    margin-top: -2px;
    display: inline-block;
    font-weight: 900;
    margin-left: 15px;
}

/* Membership */
.pages-membership {margin-top: 40px; margin-bottom: 40px;}
.pages-membership .mj_tab_items div:nth-child(1) { background-color:#69a1d6; width:33.3%;}
.pages-membership .mj_tab_items div:nth-child(2) { background-color:#2f67b2; width:33.3%;}
.pages-membership .mj_tab_items div:nth-child(3) { background-color:#21418b; width:33.3%;}
.pages-membership  ul li::before {left:5px!important;}

.btnRegister {background: #cc1f36; padding: 15px 30px 15px 30px; color: #fff; font-weight: 600; border: none; display: inline-block; margin:0 0 20px 0;}
.btnRegister a {color:#fff!important; padding-left: 20px;}
.btnRegister a:hover {color:#000!important;}
.btnRegister:hover {background: rgba(204,31,54,0.85); }

.btnRegister a::before {
    content: "\f061";
    font-family: 'Font Awesome\ 5 Free';
    position: absolute;
    left: 40px;
    color: #fff;
    font-size: 20px;
    margin-top: -2px;
    display: inline-block;
    font-weight: 900;
    margin-left: 0px;
}

/* Grant List */
.grants-list {background-color: #e6edf3;width:100%; margin:auto; padding-top: 20px; /*border-top: 5px solid #000; margin-top: 20px;*/}
.grants-list h3 {color:#2f67b2;font-size: 16px;font-weight: 600; padding: 0!important; margin: 0!important; padding-bottom: 7px !important;}
.grants-list p {color: #231f20; font-size: 14px !important; border-bottom: 2px solid #000; padding-bottom: 20px; margin-bottom: 20px;}

/* Research */
.pages-research .mj_tab_items div:nth-child(1) { background-color:#69a1d6; width:50%;}
.pages-research .mj_tab_items div:nth-child(2) { background-color:#2f67b2; width:50%;}

/* Publications */
.pages-publications .mj_tab_items div:nth-child(1) { background-color:#69a1d6; width:12.5%;}
.pages-publications .mj_tab_items div:nth-child(2) { background-color:#2f67b2; width:12.5%;}
.pages-publications .mj_tab_items div:nth-child(3) { background-color:#69a1d6; width:12.5%;}
.pages-publications .mj_tab_items div:nth-child(4) { background-color:#2f67b2; width:12.5%;}
.pages-publications .mj_tab_items div:nth-child(5) { background-color:#69a1d6; width:12.5%;}
.pages-publications .mj_tab_items div:nth-child(6) { background-color:#2f67b2; width:12.5%;}
.pages-publications .mj_tab_items div:nth-child(7) { background-color:#69a1d6; width:12.5%;}
.pages-publications .mj_tab_items div:nth-child(8) { background-color:#2f67b2; width:12.5%;}
.pages-publications  ul li::before {left:5px!important;}

.div-cvfile {padding:10px 0; width:100%; font-weight: 600; font-size: 15px;}
.div-cvfile-upload {width:100%; overflow: auto; padding-top: 6px;}
.div-cvfile-upload div {float:left; padding-right:10px;}
.div-cvfile-upload div:first-child {padding-top:2px; color: #cc1f36; font-size: 15px; font-weight: 600;}


/**************************
REGISTER FORM
**************************/
.payment-options input{

    margin-bottom: 20px;
}

.members-qualification, .members-institution {}
.members-graduationYear {}
#frmRegister input[type='checkbox'] {background-color:#e6edf3;}

.intl-tel-input .flag-container{
    height: 40px !important;
}
/**************************
EXTRAS
**************************/
.page-fundraise-for-us {height: 100%; clear: both; width: 100%; display: inline-block; padding-bottom: 20px;}
.page-fundraise-for-us-txt {left: left; width: 60%; height: 100%; position: relative; /*top: 50%;*/ -webkit-transform: translateY(50%); -ms-transform: translateY(50%); transform: translateY(50%);}
.page-fundraise-for-us-img {float: right; margin-right: 10px; width: 40%;}
.page-fundraise-for-us-img img {width:100%!important; height:auto!important;}
.page-fundraise-for-us-txt  ul li::before {left:5px!important;}

.pages-partner {width:100%; clear:both; display: table;}
.pages-partner div {width: 30%; background-color:#e6edf3; margin:0 1.5%; padding: 20px 10px; display: table-cell; height: 100%; border-collapse: separate; border: solid 10px #fff;}
.pages-partner div h2 {color: #2f67b2!important; text-align: center; padding-bottom: 10px !important;}
.pages-partner div p {text-align: center;}

.grants-popup {display:none; background-color: #e6edf3; position: fixed; top: 158px; left: 20%; right: 20%; z-index: 10000; padding:20px; bottom: 0; overflow-y: scroll; overflow-x: hidden;}
.grants-popup-close {float: right; padding-right: 10px; padding-top: 10px; font-weight: 700!important; color: #000!important; background: #2f67b2; color: #fff !important; padding: 5px !important; font-size:14px!important;}
.grants-popup-close:hover {color:#000!important;}

.grants-logos {width:100%; clear: both; padding: 30px 0; display: inline-block;}
.grants-logos span {display: block; width:100%; padding-top: 20px; font-size: 14px;}

#grants-open1, #grants-open2, #grants-open3, #grants-open4, #grants-open5, #grants-open6 {float:left; width:29%; padding-right:1.3%;text-align: center;}
#grants-open1 img, #grants-open2 img, #grants-open3 img, #grants-open4 img, #grants-open5 img, #grants-open6 img {/*height: 60px;*/ max-height: 109px;}

.sidebar-charity {padding: 20px 10px; font-weight: 500; font-size: 14px;}
.sidebar-charity-img {width:60%; text-align: center; padding: 20px 0; margin: auto;}
.sidebar-charity-img img {}

.fv-help-block {color: #dc3545;}
	
/**************************
RESPONSIVE
**************************/
@media screen and (max-width: 480px) {	
	.blog-masthead {width: 90%;}
	.blog-masthead .container {padding: 10px 0px!important;}
	.container .blog-post h1 {font-size: 27px;}
	.sidebar-module h4 {padding:0;}
	
	header {height: 40px!important;}
	.header {height: 92px!important;}
	.header .header-logo {padding: 5px 0!important; height: 50px!important; text-align: center; float:none;}
	.header .header-logo img {height: 100%;}    
	.navbar-custom {top:92px!important; right:0; left:auto; padding:5px 0;}		
	.navbar-donation {top:50px!important;}
	.navbar-members {top:50px!important;}
	
	.home-buttons {width:70%; top: -65px!important; margin-bottom: -85px!important;}
    .home-buttons-box1, .home-buttons-box2, .home-buttons-box3, .home-buttons-box4{ height: 90px !important; padding: 25px;}
	.home-buttons-resp .home-buttons-box a div .home-buttons-box-img {padding-top:0!important;}
	.home-buttons-box {width: 80%!important;}
    .home-buttons-box h2 {font-size: 20px !important; padding-top:9px!important;}
	.home-buttons-resp .home-buttons-box a:hover div .home-buttons-box-img {position:relative; top:-17px;}
	
	.carousel {top:0!important; margin-bottom: 0!important;}
	.carousel-item {height: 500px!important;}
	.carousel-item > img {height: 300px!important; width: 100%; height: auto!important; top: 78px;}	
	.carousel-caption-div {padding: 30px 0!important;}
	.carousel-caption h2 {font-size: 25px!important; padding: 0 20px!important;}
	.carousel-caption h3 {font-size: 16px!important; padding: 0 20px!important;}
	.inside-page {overflow: initial; height: 150px;}
	.inside-page .carousel-item {height: 147px!important;}
	
	.team-item {display:block!important; flex:none!important;max-width: 100%!important;padding-left:0!important; padding-right:0!important;}
	.team-block .col-4, .team-block .col-8 {display:block!important; flex:none!important;max-width: 100%!important;padding-left:0!important; padding-right:0!important;}	
	
	.header .header-buttons {position: fixed; top: 5px; right: 5px;}
	.header .header-buttons a {padding: 0 2px; }
	.navbar-donation .btn-donation, .navbar-members a {padding: 16px 0px 16px 0px;}
	.home-buttons-box {width: 70%!important; height: 90px !important;}
	.home-intro { padding: 40px 0!important;}	
	.home-supportus {padding: 30px 0;}
	.home-supportus h2 {font-size:25px; }
	.btn-home-supportus {/*margin: 20px 0;*/}
	.home-links p {padding: 0 10px;}
	.navbar-donation a {padding: 0 !important;}
	.home-newsletter-container {width:95%;}
	.frmDonation .btn-donation, .frmDonation .btn-donation:active, .frmDonation .btn-donation:visited {padding:20px 0;}
	
	.contact-details {padding:0;}
    .contact-details p {font-size:16px;}
	
	.mj_tab_items > div {width:100%;}
	
	.project-row-field, .project-row-value {width:100%;}
	
	.newsletter-main, .newsletter-edition, .newsletter-brief  {width:100%;}

	.container .blog-post blockquote {border-left:none!important;}
	.container .blog-post blockquote p {padding-left: 0px;}
	
	.donationWrapper{padding: 0;}
	.frmDonation {padding: 20px 0;}
	.paymentDetails-option input[type="radio"] {margin: 0px;}
	.direct-deposit {margin-left: 0px;}
	.direct-deposit p, .direct-deposit a {font-size:12px!important;}
	.donation-charity-img, .donation-charity-txt { width: 100%; text-align: center; float:none;}
	.donation-charity-img img {float: none!important; margin-right: 0px!important; width:auto!important;}    
	.frmDonation .btn-donation, .frmDonation .btn-donation:active, .frmDonation .btn-donation:visited {width:100%;}
	.btnDonation { margin-top: 20px;}
	
	.team-txt {padding: 5px 20px 30px 20px;}
	.container .blog-post img {/*padding:20px;*/}
	
	.custom-toggler {right: 5px!important; top: -84px!important;}
	
	.container .blog-post h1 {font-size: 25px!important;}
	.header-logo-old {display:none; visibility: hidden; height: 0;}
	.carousel-caption {}	

	.home-team h2, .home-news h2, .home-newsletter h2, .home-supportus h2, .home-links h2 {font-size: 25px!important;}	
	
	.home-intro h1 {font-size: 25px!important;}	 
	.home-supportus {margin:auto; text-align: center; padding-bottom: 10px;}	
	.home-links {width:100%;}
	.header .header-buttons a i {font-size:20px;}
	.team-item .div-img img {max-width: 100%; padding: 0 20px;}
	.modal-lg {max-width: 100%;}
	.modal-content {top: 133px;}
	.modal-body-img {width:100%; padding: 0;}
	.modal-body-img img {padding: 0!important;}
	
	.news-item-foot strong::before {content: "\A"; display: flex;}
	.news-item-txt ol {margin-left:0!important;}
	.pages-partner div p img {width:auto!important;}
	.container .blog-post p img {width:100%!important; height: auto!important; margin-right: 0px!important;}	
	.mj_accordion_item {width:100%!important;}
	
	.modal-body-txt {width:100%; padding:0;}
	.mj_tab_items div {width:100%!important;}
	.paymentDetails-option img {width:80%;}	
	
	.news-item-img {float:none; width: 100%; padding-left: 0; margin-bottom: 20px;}
	.news-item-img img {width:100%;}
	.events-item-img {float:none; width: 100%; padding-left: 0; margin-bottom: 20px;}
	.events-item-img img {width:100%;}
	
	.panel-news-item-wide-1 {margin-bottom: 0; padding-bottom: 0;}
	.panel-news-item-wide-2 {margin-top: 0;}
	
	.home-team-name {font-size:22px!important;}
	.home-team, .home-news, .panel-supportus, .home-links-panel {padding: 40px 0!important;}
	.home-news-item {}
	.home-news {padding: 40px 7.5%!important;}
	.home-news-btn {width:85%!important;}
	
	.btn-home-supportus a {padding:20px 0; min-width: 95%; display:inline-block;}
	.btn-home-links a {padding:20px 0; min-width: 95%; display:inline-block;}
	
	.panel-supportus .panel-supportus-charity {padding-bottom:0;}
}

@media only screen and (min-device-width: 769px) and (max-width: 1200px) {			
	.navbar-donation {top: 117px; right: 149px;}
	.navbar-members {top: 117px;}	
}

@media only screen and  (max-width: 991px) {	
	.blog-sidebar {width: 100%!important; max-width: 100%!important; padding: 20px 10px 10px 10px!important; margin: 0; background: none; -webkit-order: 2; order: 2;flex: auto; }	
	.sidebar-module {padding:0;}
	.blog-main {width: 100%; padding: 10px 10px 10px 10px!important; margin: 0; background: none; -webkit-order: 1; order: 1; flex:none!important; max-width: 100%; margin-top: 0px;}
	.blog-masthead .container {padding: 30px 20px;}
	
	.container .blog-post h1 {font-size:35px;}
	
	header {height:inherit;}
	.header {height: 133px;
		-webkit-box-shadow: 0 8px 6px -6px #999;
    	-moz-box-shadow: 0 8px 6px -6px #999;
    	box-shadow: 0 8px 6px -6px #999;
	}
	.navbar-custom {top:133px; min-height: 0; margin: 0; padding: 0; text-align: center;}
	.header .header-logo {text-align: center; padding: 15px 0; width:100%; height:90px;}
	.header .header-logo img {height:100%;}
	.custom-toggler {position: absolute; top: -75px; right: 20px;}		
	.navbar-dark .navbar-toggler {top: -105px;}
	
	.navbar-donation {width:50%; float:left; right:inherit!important; text-align: center; background: #f26a31; padding: 7px 0; top: 90px; z-index: 2000;}
	.navbar-members {width:50%; float:left; left:inherit!important; text-align: center; background-color: #891637; padding: 7px 0; top: 90px; z-index: 2000;}
	.navbar-donation a {padding:0!important;}
	.navbar-members a {padding:0;}
	.navbar-custom {z-index: 50000;}
	.navbar-custom .navbar-nav .nav-link {font-size:14px!important;}
	.btco-hover-menu a, .navbar > li > a {font-size:14px!important;}
	.navbar-donation .btn-donation, .navbar-members a {font-size: 14px!important;}
		
	
	.carousel {top: 70px; margin-bottom: 70px;}
	.carousel-item {height: 635px;}
	.carousel-item > img {height: 400px; right: 0!important; left:inherit!important; bottom:0!important; top:auto!important;}
	.carousel-caption {width: 100%; right: 0; top: 0; background: none; padding:0;}
	.carousel-caption-div {top: 0; transform: none; -webkit-transform: none; width:100%!important; background: #122f66; padding: 40px 0;}
	.carousel-caption h2 { font-size: 35px; color:#fff; }
	.carousel-caption h3 {font-size:19px; color:#fff;}
	.carousel-caption .btnCarousel {display:none; visibility: hidden; height: 0;}
	.carousel-control-next, .carousel-control-prev {display:none; visibility: hidden; height: 0;}
	.slide-img {visibility: hidden; display: none; height:0;}
    .slide-img-resp {visibility: visible; display: block; height:auto;}
	
	.home-buttons {display:none; visibility: hidden; height:0;}
	.home-buttons-resp {display:block; visibility: visible; height: auto;}
		
	.home-supportus {text-align:center;}
	.btn-home-supportus { margin-bottom: 20px;}

	.divHome {max-width:inherit;}
	.divHome .container {max-width: inherit;}
	.home-intro {padding:80px 0;}
	.home-intro h1 {font-size: 35px; width: 70%;}
	.btn-home-intro {padding:20px 0 40px 0;}
	.btn-home-intro a {display:inline-block; padding:20px 0; text-align: center;}
	
	.home-team h2,
	.home-news h2,
	.home-newsletter h2,
	.home-supportus h2,
	.home-links h2
	    {font-size:35px;}
	
	.home-news .container {max-width: inherit;}
	.home-news-item {padding: 10px 0;}
	.home-news p {padding: 15px 0;}
	.home-news-btn {float: none; position:absolute; top: inherit; width: 85%; margin: 40px auto 0 auto; bottom: 80px; left: auto;}
	
	.home-newsletter-container { -ms-transform: none; transform:none; -ms-transform: translateY(0); transform: translateY(0);}
	.home-newsletter {height:auto; position:inherit; top: inherit; -ms-transform: none; transform:none; padding: 80px 0;-ms-transform: translateY(0); transform: translateY(0);}
	.newsletter-container {width:100%; height:auto; position:inherit; top: inherit; -ms-transform: none; transform:none;}
	.home-newsletter h2 {text-align: center;}
	.home-newsletter-btn {float: none; position:inherit; top: inherit; width: 80%; margin: 40px auto 0 auto;}
	.home-newsletter-input {padding: 10px 0; width:80%; margin:auto; text-align: center; float:none;}
	#newsCarousel .carousel-item {min-height: 350px;}
	
	.home-links p {width:100%;}
	
	.links-carousel {width:100%!important;}
	
	body {margin-bottom: 350px;}
	.footer {height: 350px;}
	.footerContent {width:100%; text-align: center; padding-bottom: 0;}
	.footerContentWrapper {background-color: #3d3d3d; padding-bottom: 70px;}
	.footer-charity-txt, .footer-charity-img {float: none!important; padding-bottom: 5px;}
	.footer .center-block {padding: 10px 0;}
	.footer p {margin-bottom: 0;}
	.footer-phone {text-align: center;}
	.footer-phone span {padding-right:0;}		
	
	.team-item {-ms-flex: 0 0 50%;flex: 0 0 50%;max-width: 50%; margin: 0}	
	
	.radSectionAmount .col-lg-4 {padding:20px!important;}
	.other-amt-txt {text-align:center!important; position: inherit!important;}
	.donationOther .container {padding: 0px;}
	
	.page-fundraise-for-us-img {width:100%; -ms-transform: none; transform:none; -ms-transform: translateY(0); transform: translateY(0);padding-bottom: 20px;}
	.page-fundraise-for-us-txt  {width:100%; -ms-transform: none; transform:none; -ms-transform: translateY(0); transform: translateY(0);}
	
	.pages-partner div {display:block; width:100%; border:none!important; margin: 10px 0 40px 0;}
	.page-fundraise-for-us {padding-bottom:0;}	
	
	.modal-lg {max-width:100%;}
	.modal-content {top:98px;}
	
	.mj_tab_items div {width:100%!important;}
	.contact-social {text-align: center;}
	
	#carouselTeam {display: none; visibility: hidden; height: 0;}
	#carouselTeam-resp {display: block; visibility: visible; height: auto;}
	#carouselTeam-resp  .home-team-title {padding-bottom:40px;}
	
	.team-name-band-name, .team-name-band-position {text-align: center;}
	
	.gallery-item { padding-bottom: 40px;}
	
	.panel-news-item .news-item-img, .panel-news-item .news-item-txt {float:none; width:100%; padding-left: 0px;}
	.panel-news-item .news-item-img img {width: auto; max-height: 250px; max-width: 100%;}
	
	.donate-charity {text-align: center;}
	
	.panel-links-item {width:95%; margin: auto;}
	.panel-links-img {width:100%;  float:none; padding: 0 0 10px 0;}
	.panel-links-img img {width:auto}
	.panel-links-txt {width:100%; float:none;}
	
	#mc_embed_signup form {position:relative!important; margin:auto!important;}
	#mc_embed_signup .button {position:relative!important; bottom:auto!important;}
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:portrait) {
    /* For ipad portrait layouts only */
	.home-newsletter-container {    -ms-transform: translateY(0); transform: translateY(0);}
	.navbar-donation a {padding: 0 !important;}	
	.home-news-box-line {position: inherit; -ms-transform: none!important; transform: none!important;}
	
	.carousel-item {height:300px;}
	.carousel-item > img {height:300px; top:50px;}
	
	.inside-page .carousel-item {height: 170px;}
	.inside-page .carousel-item > img {height: 170px; top: 75px;}
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:landscape) {
    /* For ipad landscape layouts only */
	.navbar-members, .navbar-donation {top: 153px!important;}	
	.home-buttons-box h2 {font-size:26px;}
	.home-newsletter-container {width:95%;}
	.navbar-custom .navbar-nav .nav-link {font-size: 12px!important;padding-right: 12px!important;padding-left: 12px!important;}
	.navbar-donation { top: 154px; right:198px!important;}	
	.navbar-members a {padding: 15px 50px 15px 25px;}
	.home-news-box-line {position: inherit; -ms-transform: none!important; transform: none!important;}
	.home-newsletter-container { width: 100%;} 
	.links-carousel { width: 100%!important;} 
	.home-newsletter h2 {font-size:18px!important;}
	.footerContent {width:100%;}
	
	.carousel-caption h2 {font-size: 40px!important; top:220px!important;}
	.home-newsletter h2 {font-size:17px!important;}
	
	.contact-social a i {font-size:18px!important;}
	.carousel-caption {width:35%;}
	.home-newsletter-btn {float:none!important;}
	.home-newsletter h2 {font-size: 16px!important;}
	
	.carousel-item {height:375px;}
	.carousel-item > img {height:375px;}
	
	.inside-page .carousel-item {height: 250px!important;}
	.inside-page .carousel-item > img {height: 250px!important;}
}

@media only screen and (max-width: 568px)and (orientation:landscape) {
	/* For iphone 5  landscape layouts only */		
}

@media only screen and (min-width : 1025px) and (max-width : 1400px) {		
	/* Desktops and laptops */
	.home-buttons-box h2, .home-buttons-box:hover h2 {font-size:18px;}	
	.carousel-caption-div {width:90%;}
	
	.carousel-item {height: 660px;}
	.carousel-item > img {height: 660px;}
}

/* Extra Break Points */
@media only screen and (min-device-width: 769px) and (max-width: 1700px) {
	.home-buttons-box h2 {font-size:18px;}
	.home-buttons-box:hover h2 {font-size:18px;}
	.home-buttons-more {font-size:14px;}
}

@media only screen and (min-device-width: 769px) and (max-width: 1600px) {	
	.footerContent {width:90%;}
	.footer-charity-img {float:left; padding-left:10px; padding-top: 10px;}	
	.home-links p {width:70%;}
	.team-name-band {height:110px;}
	.newsletter-container {width:100%;}	
	.contact-social a i {font-size:18px;}
	.mj_tab_items > div {font-size:13px;}
	.carousel-caption-div {width:80%;}
	.home-buttons-box h2 {font-size:16px;}
	.home-buttons-box:hover h2 {font-size:16px;}
}

@media only screen and (min-device-width: 769px) and (max-width: 1400px) {
	.carousel-caption-div {width:90%;}
	.home-buttons-box h2 {font-size:14px;}
	.home-buttons-box:hover h2 {font-size:14px;}
	.home-buttons-more {font-size:12px;}
}

@media only screen and (min-device-width: 769px) and (max-width: 1200px) {		
	.navbar-custom .navbar-nav .nav-link {font-size:16px; padding-right: 12px; padding-left: 12px;}
	.btco-hover-menu a, .navbar > li > a {font-size:16px!important;}
		
	.navbar-donation .btn-donation, .navbar-members a {font-size:12px;}
	
	.home-newsletter h2 {font-size: 18px;}
	
	.blog-masthead .container {padding: 30px 0px 30px 0;}
	.footerContent {width: 100%;}
	.footer a, .footer a:active {padding: 0px;}
	
	.carousel-caption h2 {font-size: 30px;}
	.home-buttons-box h2, .home-buttons-box:hover h2 {font-size:12px;padding: 0 1% 10px 1%; }	
	.home-buttons-more {font-size:11px;}
	
}

@media only screen and (min-device-width: 769px) and (max-width: 700px) {	
	.header .header-logo-old {display:none; visibility: hidden; height:0;}
	
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	/* For Internet Explorer 10 and above  */
	.home-intro .container .row {display: block!important;}
	.home-intro .col-lg-9 {-ms-flex:none!important; flex:none!important;float:left; width:75%;}
	.home-intro .col-lg-3 {-ms-flex:none!important; flex:none!important;float:left; width:25%;}
}
	